.chart {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

svg {
    position: relative;
    width: 100%;
}

.bars rect {
    stroke: none;
    opacity: 0.75;
}

.container {
    flex: 1;

    height : 75vh;
    padding: 10px; 
    margin : 0.2%;

    text-align : center; 
    
    border: 0.5px solid #000;
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}